* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.logo {
    width: 150px;
    height: auto;
}

.container {
    background-color: #2B3BD0;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    bottom: 0px;
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.company {
    text-align: center;
}

.customer service {
    text-align: right;
}