<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="footer">
      <div class="container">
        <div class="logo">
          <a href="#">
            <img src="2STEP.png" alt="로고">
          </a>
        </div>
        <div class="company">
          <strong>회사 소개</strong>
          <br/>
          대표: ELICE
          <br/>
          주소: 서울 성동구 아차산로17길 48 성수낙낙 2층 엘리스트랩 성수점
          <br/>
        </div>
      </div>
      <div class="customer service">
        <strong>고객 센터</strong>
        <br/>
        1234 - 5678
        <br/>
        09:00 - 18:00 (토,일 공휴일 휴무)
        <br/>
        LUNCH 12:00 - 13:30
      </div>
    </div>
  </body>
</html>