@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body .title {
  cursor: pointer;
}

.container {
  margin-top: 10px;
  height: 1000px;
}
.main-content {
  margin-top: 0;
}

/*주문내역*/
.order-button {
  background-color: #2b3bd0;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.order-button:hover {
  background-color: #2b3bd0;
}

.order-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image-group {
  margin: 10px 10px;
}

.details-group {
  margin-right: 300px;
  padding-left: 100px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  padding-right: 50px;
}

.button-group button {
  margin-bottom: 10px;
  padding: 5px 8px;
  width: px;
  height: 40px;
  font-size: 1em;
}

.button-group button:last-child {
  margin-bottom: 0;
}

.delivery-status {
  color: #2b3bd0;
  font-weight: bold;
}

/*주문 정보 수정*/
.section-title {
  margin-bottom: 10px;
  padding-top: 50px;
  font-weight: bold;
  font-size: 1em;
}

.edit-button {
  position: absolute;
  left: 60%;
  transform: translateX(-50%);
  background-color: #2b3bd0;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #2b3bd0;
}

.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.image-group img {
  max-width: 100px;
  height: auto;
}

.details-group {
  flex: 1;
  margin-left: 20px;
}

.details-group h3 {
  margin: 0;
}

.order-button-group {
  display: flex;
  align-items: center;
}

.order-button-group button {
  margin-left: 10px;
  padding: 5px 8px;
  font-size: 1em;
}

.delete-button {
  background-color: black;
  color: white;
  border: none;
}

.delete-button:hover {
  background-color: black;
}
