<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bulma CSS 참조  -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="css/banner.css" />
    <link rel="stylesheet" href="css/productbanner.css" />
    <title>Document</title>
  </head>
  <body>
    <header id="header"></header>

    <main>
      <section class="topBanner">
        <div class="slider">
          <img id="bannerImage" src="" alt="신발" />
        </div>
      </section>

      <section id="productBanner1" class="productBanner">
        <div class="popular-text"></div>
        <div class="popular-product">
          <ul></ul>
        </div>
      </section>

      <section id="productBanner2" class="productBanner">
        <div class="popular-text"></div>
        <div class="popular-product">
          <ul></ul>
        </div>
      </section>

      <section class="eventBanner">
        <div class="banner">
          <img id="eventBannerImage" src="" alt="이벤트 배너" />
        </div>
      </section>

      <section id="productBanner3" class="productBanner">
        <div class="popular-text"></div>
        <div class="popular-product">
          <ul></ul>
        </div>
      </section>

      <section class="weeklyBestBanner">
        <div class="banner">
          <a href="#">
            <img id="weeklyBestBannerImage" src="" alt="주말 베스트 배너" />
          </a>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by
          <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is
          licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
          website content is licensed
          <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            >CC BY NC SA 4.0</a
          >
        </p>
      </div>
    </footer>
    <!-- 배너 레이아웃 -->
    <script type="module" src="./js/imageslide.js"></script>
    <!-- 인기 상품 레이아웃 -->
    <script type="module" src="./js/productbanner.js"></script>
    <!-- 헤더, 풋터-->
    <script type="module" src="./js/common.js"></script>
  </body>
</html>
