<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./login.css">
    <title>LOGIN</title>
  </head>
  <body>
    <div>
      <h1>LOGIN</h1>
      <input type="email" class="email" placeholder="이메일을 입력하세요">
      <input type="password" class="password" placeholder="비밀번호를 입력하세요">
      <div class="btn-container">
        <button class="login-btn">로그인</button>
        <button class="signup-btn">회원가입</button>
      </div>
      <a href="#" class="adminlogin-link">관리자로 로그인하기</a>
    </div>
  </body>
  <script type="module" src="./login.js"></script>
</html>
