<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="#">
                    <img src="2STEP.png" alt="로고">
                </a>
            </div>
            <div class="buttom">
                <nav>
                    <ul class="menu">
                        <li><a href="#">NEW</a></li>
                        <li><a href="#">BEST</a></li>
                        <li><a href="#">SALE</a></li>
                        <li>|23</li>
                        <li><a href="#">WOMEN</a></li>
                        <li><a href="#">MEN</a></li>
                        <li><a href="#">LIFE</a></li>
                        <li><a href="#">ACTIVE</a></li>
                    </ul>
                    <ul class="user-menu">
                        <li><a href="#">LOGIN/JOIN</a></li>
                        <li><a href="#">CART(0)</a></li>
                        <li><a href="#">MYPAGE</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>
