* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

header {
    background-color: white;
    color: black;
    height: 82px;
    margin:auto;
}

.container {
    max-width: 1216px;
    margin: 0;
}

.logo {
    float: left;
    width: 100%;
    margin: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    float: left;
    margin-right: 20px;
}

.bottom {
    display: flex;
    max-width: 1216px;
    min-width: 1216px;
    margin: auto;
    justify-content: space-between;
}

.menu {
    float: left;
    margin-top: 10px;
}

.user-menu {
    float: right;
    margin-top: 10px;
}