<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./login.css">
    <title>LOGIN</title>
  </head>
  <body>
    <div class="form">
      <form action="" class="login__form">
        <h1 class=""login__title>LOGIN</h1>
          <div class="login__inputs">
            <div class="login__box">
              <input type="email" placeholder="이메일을 입력해주세요" required class="login__input">
            </div>
            <div class="login__box">
              <input type="password" placeholder="비밀 번호를 입력해주세요" required class="login__input">
            </div> 
          </div>
          <button type="submit" class="login__button">로그인</button>
          <button type="submit" class="signup__button">회원가입</button>
          <div class="login__admin">
            <a href="#">관리자로 로그인하기</a>
          </div>
      </form>
    </div>
  </body>
</html>
