body {
    font-family: 'Inter', sans-serif;
    margin: 20px;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    padding: 20px;
    margin-right: 20px;
}

.navigation {
    margin-top: 50px;
}

.nav-item {
    border: 2px solid #ccc;
    padding: 10px 20px;
    margin-bottom: 2px; 
    cursor: pointer;
    font-weight: bold;
}

.nav-item:hover {
    border-color: #2b3bd0;
    color: #2b3bd0;
}

.main-content {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    margin-top: 45px; 
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.page-title {
    font-size: 24px; 
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px; 
    font-weight: medium;
    margin-bottom: 10px;
    margin-top: 100px; 
}

.separator {
    border-top: 3px solid #000;
    margin-bottom: 20px;
}

.profile-form {
    margin-bottom: 20px;
}

.profile-form label {
    display: block;
    margin-bottom: 5px;
}

.profile-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #2b3bd0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #2b3bd0;
}
