<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MY PAGE</title>
<link rel="stylesheet" href="./mypage.css">
</head>
<body>

<div class="container">
  <div class="sidebar">
    <div class="title">MYPAGE</div>
    <div class="navigation">
      <div class="nav-item" onclick="showOrderHistory()">주문내역</div>
      <div class="nav-item" onclick="showProfileUpdate()">개인정보수정</div>
    </div>
  </div>
  <div class="main-content" id="content">
  </div>
</div>

<script type="module"></script> 
<script src="./orderdetails/orderdetails.js"></script>
<script src="./userinformation/userinformation.js"></script>

</body>
</html>
