<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MY PAGE</title>
<link rel="stylesheet" href="./mypage.css">
<link rel="stylesheet" href="./user.css">
<link rel="stylesheet" href="./order.css">
</head>
<body>

  <div class="container">
    <div class="sidebar">
      <!-- 사이드바 -->
      <div class="title">MYPAGE</div>
      <div class="navigation">
        <!-- 네비게이션 -->
        <div class="nav-item" onclick="showOrderHistory()">주문내역</div>
        <div class="nav-item" onclick="showEmailPasswordForm()">개인정보수정</div>
      </div>
    </div>
    <div class="main-content" id="content">
      <!-- 메인 콘텐츠 영역 -->
    </div>
  </div>

<script type="module"></script> 
<script src="./orderdetails.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="./postcode.js"></script>
<script src="./signout.js"></script>
<script src="./userinfo.js"></script>
<script src="./ordereditor.js"></script>

</body>
</html>
