@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form {
    margin-left: 400px;
    margin-right: 400px;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

input[type="email"],
input[type="password"],
input[type="text"],
button {
    width: 100%;
    padding: 10px;
    margin: 4px 0;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 8px;
}

input:focus {
    outline: none;
    border: 1px solid #6242ff;
}

.zipcode-container {
    display: flex;
    align-items: center;
}

.zipcode-container > button {
    background-color: white;
    font-weight: 700;
    cursor: pointer;
    margin-left: 4px;
    padding: 8px 22px;
    flex-basis: 30%;
}

.zipcode-container > button:hover {
    border: 1px solid #6242ff;
}

.name-wrap {
    margin-top: 4px;
}

.label {
    font-size: 0.8em;
    margin: 0;
}

.address-wrap {
    margin-top: 4px;
}

.signup-form-wrap {
    padding: 0 10px;
}

.signup-btn {
    background-color: #2B3BD0;
    color: #fff;
    cursor: pointer;
}

.adminsignup-link {
    margin-top: 5px;
    padding-bottom: 30px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    font-size: 10px;
}

/* error-message button */
#error-messages {
    display: none; /* 초기에는 화면에 표시되지 않음 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff; 
    color: #000000; 
    border-radius: 30px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

#error-messages p {
    margin-bottom: 1px; /* 알람 메시지 간격 조절 */
    white-space: pre-wrap; /*줄바꿈 처리*/
}

#error-messages hr {
    border: 0.1px solid #cccccc; 
    margin-top: 20px; 
    margin-bottom: 10px;
}

#error-messages button {
    background-color: transparent;/*배경색 없애기*/
    color: #2B3BD0; 
    border: black;
    padding: 10px 20px;
    cursor: pointer;
    width: 150px; /*버튼 너비 고정*/
    display: inline-block; /*가운데 정렬을 위해 필요*/
}
